<!-- INICIO -->
<div>
    <div class="row">
        <div class="col-12 position-relative">
            <div class="image-background">
                <%= image_tag("home/banner_1.jpg", alt: "Sisco Bank banner 1", class: "d-block w-100") %>
            </div>   
            <div class="position-absolute text-white bg-black main-content p-4 shadow-sm">
                <h1 class="text-center fw-bold">TU FUTURO FINANCIERO COMIENZA AQUÍ</h1>
                <p class="text-center my-4 fs-4">Sisco Bank C.A. nació para ser tu aliado en mercados de alto potencial, impulsado por innovación y excelencia. Estamos aquí para ayudarte a crecer con soluciones seguras, modernas y pensadas para ti.</p>
            </div> 
        </div>    
    </div>
</div>